<%- include header %>
    <div id="main" style="vertical-align:middle; position: relative; width: 1100px; height:600px; margin-top:80px; margin-right:100px;background: #FFFFFF; box-shadow: 10px 10px 5px black">
        <div class="disptitle">
            <a href="/devstat">系统</a>
            <a href="/dev">设备</a>
        </div>

