<%- include devcommon_header %>

        <div style="position:relative; margin: 100px; width: 80%; height: 60%; background: white">
            <li class="status grey">
                <label class="disptext">系统名称:</label>
                <label class="col-md-offset-4 disptext">雷达网络设备管理系统</label>
            </li>

            <li class="status white">
                <label class="disptext">系统版本:</label>
                <label class="col-md-offset-4 disptext">RNet v0.0.1</label>
            </li>

            <li class="status grey">
                <label class="disptext">主机地址:</label>
                <label class="col-md-offset-4 disptext">222.240.44.2</label>
            </li>

            <li class="status white">
                <label class="disptext">主机端口:</label>
                <label class="col-md-offset-4 disptext">3000</label>
            </li>

            <li class="status grey">
                <label class="disptext">雷达站点:</label>
                <label class="col-md-offset-4 disptext">3</label>
            </li>

            <li class="status white">
                <label class="disptext">活跃设备:</label>
                <label class="col-md-offset-4 disptext">10</label>
            </li>

            <li class="status grey">
                <label class="disptext">标准时间:</label>
                <label class="col-md-offset-4 disptext">2019-01-30 22:24:30</label>
            </li>

            <li class="status white">
                <label class="disptext">运行时间:</label>
                <label class="col-md-offset-4 disptext">27d 06h 20m 30s</label>
            </li>

            <li class="status grey">
                <label class="disptext">设备状态:</label>
                <img class="col-md-offset-4" src="images/error.png"></img>
                <label class="disptext">
                    &nbsp;&nbsp;
                </label>
                <label class="disptext" style="color: greenyellow">warning</label>
            </li>

            <li class="status white">
                <label class="disptext">报告邮箱:</label>
                <label class="col-md-offset-4 disptext">luomin5417@qq.com</label>
                <label class="disptext">&nbsp;&nbsp;</label>
                <label class="disptext">xiaoming@qq.com</label>
            </li>

        </div>

<%- include devcommon_footer %>
