            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">

        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = true;

            var content = document.getElementById("content-cotainer");
            if(content == null)
                console.log("content:%s", content);

            trigger.click(function () {
                console.log("debug the javascript, click.");
                hamburger_cross();
            });

            $('#wrapper').toggleClass('toggled');

            function hamburger_cross() {

                if (isClosed == true) {
                    console.log("debug the javascript, click, hide()");
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    content.setAttribute('class', 'container')
                    isClosed = false;
                } else {
                    console.log("debug the javascript, click, show()");
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    content.setAttribute('class', 'container content-open')
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });

            $(function () {
                $(".dropdown-toggle").dropdown();
            });
        });

    </script>
</body>
</html>