<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= title %> - Blog</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">YIDBlog</a>
                    </div>
                    <a class="navbar-brand" href="/">首页</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/reg"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="overlay"></div>

        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nv sidebar-nav">
                <li class="sidebar-nav">
                    <a href="#">
                        Bootstrap 3
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-home"></i>Home</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-folder"></i>Page one</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-file-o"></i>Second page</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-cog"></i>Third page</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dropdown heading>Dropdown heading</li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a> </li>
                        <li><a href="#">Separated link</a> </li>
                        <li><a href="#">One more separated link</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-bank"></i> Page four</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-bank"></i> Page 5</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-bank"></i> last Page</a>
                </li>
            </ul>
        </nav>

        <div id="page-content-wrapper">
            <button type="button"  class="hamburger is-closed animated fadeInLeft"  data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>

            <div class="container">
                <div class="col-sm-12">