<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>

    <style type="text/css">
        *{
            margin: 0;
            padding: 0;
        }

        #wrap {
            height: 650px;
            width: 100%;
            background-image: url(/images/background.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
        }

        #head {
            height: 120px;
            width: 100%;
            background-color: #222;
            text-align: center;
            position: relative;
        }

        #foot {
            width: 100;
            height: 126px;
            background-color: #222;
            position: relative;
        }
        #wrap .logGet {
            height: 408px;
            width: 368px;
            position: absolute;
            background-color: blanchedalmond;
            top: 20%;
            right: 15%;
        }
        .logC a button {
            width: 100%;
            height: 45px;
            background-color: #122b40;
            border: none;
            color: white;
            font-size: 18px;
        }
        .logGet .logD.logDtip .p1 {
            display: inline-block;
            font-size: 28px;
            margin-top: 30px;
            width: 86%;
            color: #000;
        }
        #wrap .logGet .logD.logDtip {
            width: 86%;
            border-bottom: 1px solid #122b40;
            margin-bottom: 60px;
            margin-top: 0px;
            margin-right: auto;
            margin-left: auto;
        }
        .logGet .lgD img {
            position: absolute;
            top: 12px;
            left: 8px;
        }
        .logGet .lgD input {
            width: 100%;
            height: 42px;
            text-indent: 2.5rem;
        }
        #wrap .logGet .lgD {
            width: 86%;
            position: relative;
            margin-bottom: 30px;
            margin-top: 30px;
            margin-right: auto;
            margin-left: auto;
        }
        #wrap .logGet .logC {
            width: 86%;
            margin-top: 0px;
            margin-right: auto;
            margin-bottom: 0px;
            margin-left: auto;
        }

        .title {
            font-family: "宋体";
            color: #FFFFFF;
            position: absolute;
            top: 50%;
            left: 15%;
            transform: translate(-50%, -50%);  /* 使用css3的transform来实现 */
            font-size: 36px;
            height: 40px;
            width: 30%;
            color: whitesmoke;
        }

        .copyright {
            font-family: "宋体";
            color: #FFFFFF;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);  /* 使用css3的transform来实现 */
            height: 60px;
            width: auto;
            text-align:center;
        }

        #foot .copyright .img {
            width: 100%;
            height: 24px;
            position: relative;
        }
        .copyright .img .icon {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-left: 22px;
            vertical-align: middle;
            background-image: url(%E7%94%B5%E5%AD%90%E9%82%AE%E4%BB%B6.png);
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-right: 5px;
        }

        .copyright .img .icon1 {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-left: 22px;
            vertical-align: middle;
            background-image: url(%E5%9C%B0%E5%9D%80.png);
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-right: 5px;
        }
        .copyright .img .icon2 {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-left: 22px;
            vertical-align: middle;
            background-image: url(%E8%81%94%E7%B3%BB%E6%96%B9%E5%BC%8F.png);
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-right: 5px;
        }
        #foot .copyright p {
            height: 24px;
            width: 100%;
        }

        .wrapper {
            position: relative;
        }

        i.fa{
            position: absolute;
            top: 14px;
            left: 10px;

        }
        .wrapper input {
            text-indent: 20px;
        }
    </style>
</head>

<body>
    <div class="header" id="head">
        <div class="title">宜通华盛雷达网络管理系统</div>
    </div>

    <div class="wrap" id="wrap">
        <form class="form-horizontal" method="post" role="form" name="pwdform" onsubmit="return check()">
            <div class="logGet">
                <!-- 头部提示信息 -->
                <div class="logD logDtip">
                    <p class="p1">登录</p>
                </div>
                <!-- 输入框 -->
                <div class="wrapper lgD">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="输入用户名" name="username" />
                </div>
                <div class="wrapper lgD">
                    <i class="fa fa-key"></i>
                    <input type="password" placeholder="输入用户密码" name="password" />
                </div>
                <div class="logC">
                    <a href="/index" target="_self"><button>登 录</button></a>
                </div>
            </div>
        </form>
    </div>

    <div class="footer" id="foot">
        <div class="copyright">
            <li style="list-style: none"><a style="text-decoration: none" href="http://www.eastonewashon.com">Copyright © 2014-2019 Etonetech Inc. All Rights Reserved.</a></li>
            <li style="list-style: none"><a style="text-decoration: none" href="#">联系邮箱：luomin@etonetech.com</a></li>
        </div>
    </div>

    <script>
        function check() {
            var username = document.pwdform.username.value;
            var passwd = document.pwdform.passwd.value;

            if (username == ""|| passwd == ""){

                alert("无效用户名或密码！");
                return false;
            }
        }
    </script>

</body>
</html>

